---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%d %B %Y" }}
      </time>
      {%- if page.author -%}
        • <span>{{ page.author }}</span>
      {%- elsif site.author.name -%}
        • <span>{{ site.author.name }}</span>
      {%- endif -%}
    </p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
</article>

